[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pyyaml = "*"
moke-config = "*"
python-dateutil = "*"
pytz = "*"
dateparser = "*"
"beautifulsoup4" = "*"
selenium = "*"
"mecab-python3" = "*"

[scripts]
crawl = "python src/tv_info/run.py crawl"
