[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pyyaml = "*"
moke-config = "*"
python-dateutil = "*"
pytz = "*"
dateparser = "*"

[scripts]
hello = "python src/project_template/run.py hello"
